.plane-alert {
    position: absolute;
    left: -400px;   /* start outside visible window */
    top: 50%;       /* appears middle of the screen */

    display: flex;  /* grid */
    align-items: center;
    gap: 12px;      /* space between airplane and banner */
      
    animation: flyAcross 10s linear forwards;
}

.banner {
    color: black;
    background-color: pink;
    border: solid pink 2px;
    padding: 10px 20px 10px 20px;
}

@keyframes flyAcross {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(100vw + 400px));
    }
}